body {
    padding: 0;
    margin: 0;
}
html, body, #map {
    height: 100%;
}
table { 
    width: 100%;
}
td
{
height:20px;
vertical-align:middle;
padding:1px;
}
.nodisplay {display:none;}
.right {text-align:right;}
.center {text-align:center;}
.justify {text-align : justify}
.panneau {
    width: 30px;
}    
.c-vert, .c-rouge  {
    font-size:10px;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    border-radius: 3px;
    opacity : 0.8;
} 
.reload  {
    cursor: hand;
    cursor: pointer;
    text-align:center;
    font-size:20px;
}
.c-vert, .c-rouge, .center  {
    text-align:center;    
}
.c-vert{
    background-color: lightgreen;        
}
.c-rouge {
    background-color: lightcoral;        
}
.leaflet-popup-tip, .leaflet-popup-content-wrapper {
    opacity : 0.7;
    background-color: black;
}
.leaflet-popup-content-wrapper, .leaflet-container a.leaflet-popup-close-button {
    color: #fff;
}
.leaflet-popup-content-wrapper {
    width: 200px;
}
#mapInfo, #mapInfo2 {
    cursor: hand;
    cursor: pointer;
}
#mapInfo {
    position: absolute;
    bottom: 8px;
	right: 8px;
	z-index: 1000;
}
#mapLocate {
    cursor: hand;
    cursor: pointer;
    position: absolute;
    bottom: 5px;
	left: 5px;
	z-index: 1002;
}
#mapAttribution {
position: absolute;
margin: 15px;
padding:10px;
top: 5px;
left: 8px;
color: DimGray;
background-color: white;
border-radius: 6px;
border-style: solid;
border-width: 1px;
border-color: LightGrey;
box-shadow: 1px 1px 0px Gray;
z-index: 1010;
}

